div {
    height: 30px;
    width: 500px;
    border: 1px solid black;
}

.barrita {
    animation: move 1s forwards;
    background-image: url(../Fotos/corazon-mask.png);
    background-color: red;
    width: 100%;
    background-size: auto 100%;
    box-sizing: border-box;
}

@keyframes move {
    from {
        width: 0;
    }

    to {
        width: 80%;
    }
}