* {
    margin: 10px;
    padding: 10px;
    background-color: rgb(245, 199, 113);
}

h1 {
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    text-align: right;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}

p.blue {
    background-color: rgb(172, 172, 216);
    border: 5px solid rgb(100, 100, 243);
    border-style: solid
}

p.yellow {
    background-color: rgb(226, 226, 166);
    border: 5px solid yellow;
    border-style: solid
}

p.purple {
    background-color: rgb(221, 173, 221);
    border: 5px solid rgb(143, 102, 143);
    border-style: dotted
}

p.green {
    background-color: rgb(166, 209, 166);
    border: 5px solid green;
    border-style: double
}

p.grey {
    background-color: rgb(194, 192, 192);
    border: 5px solid rgb(49, 49, 49);
    border-style: dashed
}